<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Masina mea</h1>
<table>
<tr>
    <th>Id</th>
    <th>Marca</th>
    <th>Modelul</th>
    <th>Nr de inmatriculare</th>

</tr>
<tr th:each = " car : ${user.getCars()}">
    <td th:text ="${car.getCarId()}"></td>
    <td th:text ="${car.getCarMake()}"></td>
    <td th:text ="${car.getCarModel()}"></td>
    <td th:text ="${car.getPlateNumber()}">
    </td>
    <td>
        <a th:href ="@{'/edit-car/' + ${car.getCarId()}}" > Modifica datele </a>
<!--        <a th:href ="@{'/products/edit/' + ${p.g etProductId()}}" th:text="#{edit}">Edit</a>-->
        <a th:href ="@{'/delete-car/' + ${car.getCarId()}}">Sterge Masina</a>
    </td>
</tr>
</table>
<a href="/add-car">Adauga o masina</a>
<br>
<!--<a href="/delete-car">Sterge masina</a>-->
</body>
</html>