# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FinalProject\Ia-maNene\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
